*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 100px;
    
}

.logo{
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url(images/amazon_logo.png);
}