* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;

}

.logo {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url(images/amazon_logo.png);
}

.border {
    border: 1.5px solid transparent;

}

.border:hover {
    border: 1.5px solid white;
}

.address_icon {
    display: flex;
    align-items: center;
}

.loc-first {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;

}

.loc-sec {
    font-size: 1rem;
    margin-left: 3px;

}

.nav-search {
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 3px;

}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search_icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-lang {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.nav-lang img {
    width: 20px;
    height: 15px;
    object-fit: cover;
}

.nav-lang span {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.nav-lang i {
    font-size: 10px;
    margin-top: 5px;

}

.accounts {
    display: flex;
    align-items: center;

}

.nav-signin span {
    font-size: 0.75rem;
}

.nav-second {
    font-size: 0.875rem;
    font-weight: 700;


}

.nav-cart {
    font-size:0.85rem ;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.panel{
    background-color:#222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
}
.panel_opt p{
    display: inline;
    margin-left: 15px;
    
}
.panel-all{
    padding-left: 11px;

}

.panel_opt{
    width: 70%;
    font-size: 0.85rem;
    
}

.shop-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;

}

.box-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr) ;
}

.box{
    background-color: #FFFFFF;
    margin-bottom: 8px;

}
.img-container{

    display: flex;
}
.img-item img{
height: 100%;
width: 100%;
}